<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>IT Asset Management</title>
    <base href="./" />
    
    
    <link href="https://cdn.syncfusion.com/ej2/fabric.css" rel="stylesheet" />
    <script src="https://cdn.syncfusion.com/ej2/syncfusion-helper.js"></script>
    <script
      defer="defer"
      src="https://ej2.syncfusion.com/showcase/vue/assetmanagement/js/chunk-vendors.8a66633e.js"
    ></script>
    <script
      defer="defer"
      src="https://ej2.syncfusion.com/showcase/vue/assetmanagement/js/app.af0f7954.js"
    ></script>
    <link
      href="https://ej2.syncfusion.com/showcase/vue/assetmanagement/css/app.087fd3c2.css"
      rel="stylesheet"
    />
  </head>

  <body class="e-lib e-touch e-sidebar-context">
    <div
      id="sidebar-menu"
      style="
        position: fixed;
        width: 170px;
        z-index: 1000;
        transform: translateX(-100%) translateX(170px);
      "
      class="e-control e-sidebar e-lib e-sidebar-absolute e-left e-dock e-close e-push e-touch"
    >
      <div class="app-title"><div class="title-logo"></div></div>
      <div class="content-area">
        <div
          id="menulist"
          closeondocumentclick="true"
          class="e-control e-listview e-lib e-touch"
          role="list"
          tabindex="0"
        >
          <div class="e-content">
            <ul class="e-list-parent e-ul" role="group">
              <li
                class="e-list-item e-level-1"
                role="listitem"
                data-uid="01"
                title="Dashboard"
                id="menulist_01"
                aria-selected="false"
                tabindex="-1"
              >
                <div
                  class="listWrapper"
                  style="width: inherit; height: inherit"
                >
                  <span class="sf-icon-Dashboard list_svg"></span>
                  <span class="list_text">Dashboard </span>
                  <!---->
                </div>
              </li>
              <li
                class="e-list-item e-level-1 e-active"
                role="listitem"
                data-uid="02"
                title="Hardware"
                id="menulist_02"
                aria-selected="true"
                tabindex="-1"
              >
                <div
                  class="listWrapper"
                  style="width: inherit; height: inherit"
                >
                  <span class="sf-icon-Hardware list_svg"></span>
                  <span class="list_text">Hardware </span>
                  <!---->
                </div>
              </li>
              <li
                class="e-list-item e-level-1"
                role="listitem"
                data-uid="03"
                title="Software"
                id="menulist_03"
                aria-selected="false"
                tabindex="-1"
              >
                <div
                  class="listWrapper"
                  style="width: inherit; height: inherit"
                >
                  <span class="sf-icon-Software list_svg"></span>
                  <span class="list_text">Software </span>
                  <!---->
                </div>
              </li>
              <li
                class="e-list-item e-level-1"
                role="listitem"
                data-uid="04"
                title="Issued Licenses"
                id="menulist_04"
                aria-selected="false"
                tabindex="-1"
              >
                <div
                  class="listWrapper"
                  style="width: inherit; height: inherit"
                >
                  <span class="sf-icon-License list_svg"></span>
                  <span class="list_text">Issued Licenses </span>
                  <!---->
                </div>
              </li>
              <li
                class="e-list-item e-level-1"
                role="listitem"
                data-uid="05"
                title="Requests"
                id="menulist_05"
                aria-selected="false"
                tabindex="-1"
              >
                <div
                  class="listWrapper"
                  style="width: inherit; height: inherit"
                >
                  <span class="sf-icon-Request list_svg"></span>
                  <span class="list_text">Requests </span>
                </div>
              </li>
              <li
                class="e-list-item e-level-1"
                role="listitem"
                data-uid="06"
                title="About"
                id="menulist_06"
                aria-selected="false"
                tabindex="-1"
              >
                <div
                  class="listWrapper"
                  style="width: inherit; height: inherit"
                >
                  <span class="sf-icon-About list_svg"></span>
                  <span class="list_text">About </span>
                  <!---->
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
